::-webkit-scrollbar{
    width: 0vw;
    height: 0vw;
    background-color: black;
}
body{

    width:100vw;
    overflow-x: hidden;
    background:rgb(254, 252, 252);
    font-family: 'Roboto';

}
h1{
    color: rgb(242, 242, 244);
    position: absolute;
    top:26vw;
    left: 15vw;
    z-index: 2;
    font-size:10vw;
}
h2{
    color: rgb(242, 242, 244);
    position:absolute;
    top:20vw;
    z-index:2;
    font-size:10vw;
    left: 5vw; 
}
#montaña{
    top:15vw;
    width: 100vw; 
    position:absolute;
    left:0vw;
    right:0vw;
}
.montañafria{
    width:100vw; 
    position:absolute;
    left:0vw;
    right: 0vw;
}


#Logo{
    position:absolute;
    z-index: 3;
    top:.0vw;
    width:10vw;
    left: 47vw;
}
.tabla_3{
    width:100vw;
    font-size:3vw;
    height:10vw;
    background-color:white;
    position:fixed;
    z-index:3;
    top:0vw;
    left: 0vw;
}
a:link,a:visited,a:hover{
    color: rgb(250, 249, 249);
  } 
  a:active{
    color:rgb(234, 207, 4);
  }
.tabla_2 {
    width: 100vw;
    font-family: "Roboto";
    display: flex;
    font-size:4vw;
    height:7vw;
    background-color:rgb(0, 0, 0);
    color: rgb(243, 235, 235);
    position:absolute;
    z-index: 2;
    top:11vw;
    left: 0vw;
}

.tabla_2 > div {
    padding: auto;
    
}

.option-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.option-container > div {
    padding-right:4vw;
    
}
.espacio{
    width: 100vw;
    font-family: "Roboto";
    display: flex;
    height:15vw;
    background-color:rgb(0, 0, 0);
    position: absolute;
    top:156vw;
    left: 0vw;
}

.englobamontaña{
    position:absolute;
    top:171vw;
    left:0vw;
    
}
.englobalicras{
     position:absolute;
     top:90vw;
     width: 100vw;
 }
.englobaropatermica{
    position: absolute;
    top:95vw;
    width: 100vw;
}
.englobacapaexterna{
    position: absolute;
    top:100vw;
    width: 100vw;
}

h3{
    color: rgb(233, 229, 13);
    position: absolute;
    top:160vw;
    left: 10vw;
    z-index: 2;
    font-size:10vw; 
}
#declicras{
    position: absolute;
     z-index: 5;
     line-height:2em;
     top:200vw;
     color:rgb(12, 12, 12);
     width: 90vw;
     font-size: 2vw;
     left:4vw;
}
#Licras{
    position:absolute;
    z-index: 2;
    top:165vw;
    width:30vw;
    left:55vw;
}
h4{
    color: rgb(233, 229, 13);
    position: absolute;
    top:250vw;
    left: 10vw;
    z-index: 2;
    font-size:10vw;
}
#Ropatermica{
    position:absolute;
    z-index: 2;
    top:260vw;
    width:40vw;
    left: 55vw;
}
#decropatermica{
    position: absolute;
     z-index: 5;
     line-height:2em;
     top:290vw;
     color:rgb(12, 12, 12);
     width: 90vw;
     font-size: 2vw;
     left:4vw;
}
#ttres{
    color: rgb(233, 229, 13);
    position: absolute;
    top:310vw;
    left: 10vw;
    z-index: 2;
    font-size:10vw;
}
#Pantalon{
    position:absolute;
    z-index: 2;
    top:320vw;
    width:30vw;
    left:50vw;
    
}
#Playera{
    position:absolute;
    z-index: 2;
    top:320vw;
    width:30vw;
    left:70vw;
    
}
#decexterana{
    position: absolute;
     z-index: 5;
     line-height:2em;
     top:350vw;
     color:rgb(12, 12, 12);
     width: 90vw;
     font-size: 2vw;
     left:4vw;
}
