::-webkit-scrollbar{
    scrollbar-width:none;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    margin:0vw;
    padding:0vw;
    width:100vw;
    overflow-x: hidden;
    background-color:rgb(0, 0, 0);
    font-family: 'Roboto';
    
}
header {
    color:white;
    padding: 10px 20px;
    position: relative;
    transition: 0.8s;
    background-color: rgb(0, 0, 0);
    z-index: 4;
    
    
}
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    
    
}
h5{
    font-size:4vw;
    font-weight: bold;
    
    

}
.nav-links{
    list-style: none;
    display: flex;
    gap: 15px;
}
.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.nav-links a:hover {
    color: yellow;

}
.hamburguer{
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.bar {
    width: 4vw;
    height: 1px;
    background-color: white;
    margin: 4px 0;
    transition: 0.3s;
    z-index: 4;
}
@media (max-width:768px) {
    nav {
        justify-content: space-between;
    }
    .nav-links {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: rgba(0, 0, 0, 0.274);
        width: 100%;
        flex-direction: column;
        text-align: center;
        transition: 0.5s;
    }
    .nav-links li {
        margin:15px 0;        
    }
    .hamburguer {
        display:flex;
    }
    .nav-links.show {
        display: flex;
        background-color: rgba(7, 7, 7, 0.589);
    }
}

.uno{
    top:0vw;
    font-size: 1px;
}
h1{
    color: rgb(255, 255, 255);
    position: absolute;
    top:70vw;
    left: 20vw;
    z-index: 2;
    font-size:clamp(1.8rem, 10vw, 7rem);
    transition: 5s ease;
}
h1:hover{
    transform: scale(1.2);
}
h2{
    color:  rgb(233, 229, 13);
    position:absolute;
    top:45vw;
    z-index:2;
    font-size:10vw;
    left: 5vw;
    width: 100vw;


}
.container {
    width: 20vw;
    max-width:5vw;
    min-width: 100vw;
    top:1vw;
}
.montaña{
    width:100vw; 
    top:1vw;
    z-index: 1; 
    position:absolute;  
    
}

.montañafria{
    width:100vw; 
    position:absolute;
    left:0vw;
    right: 0vw;
    z-index: 1;
    top:11
}



#Logo{
    position:absolute;
    z-index: 4;
    top:.0vw;
    width:9vw;
    left: 47vw;
}
.espacio{
    width: 100vw;
    font-family: "Roboto";
    display: flex;
    height:15vw;
    background-color:rgb(0, 0, 0);
    position: absolute;
    top:156vw;
    left: 0vw;
}

.englobamontaña{
    position: absolute;
    left:0vw;
    
}


@media (min-width:320px) {
.englobalicras{
    background-color:white;
    width: 90vw;
    max-width: 100vw;
    min-width: 60px;
    height: 70vw;
    max-height: 100vw;
    min-height: 600px;
    position:relative;
    top:80vw;
    left: 5vw;
    border-radius: 150px;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
    

    
}
h3{
    color: rgb(233, 229, 13);
    position: absolute;
    top:5vw;
    left: 26vw;
    z-index: 2;
    font-size:10vw; 
    
}
#declicras{
    position: absolute;
     line-height:2em;
     top:50vw;
     color:rgb(12, 12, 12);
     width: 80vw;
     font-size:1.2rem;
     left:4vw;
     padding:4vw;
     text-align: center;
     
     
}
#Licras{
    position:absolute;
    top:20vw;
    z-index: 2;
    width:30vw;
    left:30vw;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 150px;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);

    
}
}

@media (min-width:320px) {
    .englobaropatermica{
        background-color:white;
        width: 90vw;
        max-width: 100vw;
        min-width: 60px;
        height: 70vw;
        max-height: 100vw;
        min-height: 700px;
        position:relative;
        top:100vw;
        left: 5vw;
        border-radius: 150px;
        box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
    }
    h4{
        color: rgb(233, 229, 13);
        position: absolute;
        top:5vw;
        left: 26vw;
        z-index: 2;
        font-size:10vw; 
        
    }
    #decropatermica{
    
        position: absolute;
         line-height:2em;
         top:50vw;
         color:rgb(12, 12, 12);
         width: 80vw;
         font-size:1.2rem;
         left:4vw;
         padding:4vw;
         text-align: center;
         
         
    }
    #Ropatermica{
        position:absolute;
        top:20vw;
        z-index: 2;
        width:30vw;
        left:30vw;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 150px;
        box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
    
        
    }
    }
/*.englobaropatermica{
    position: absolute;
    top:110vw;
    width: 100vw;
}
h4{
    color: rgb(233, 229, 13);
    position: absolute;
    top: 210vw;
    left: 10vw;
    z-index: 2;
    font-size:clamp(1.8rem, 10vw, 5rem);
}
#Ropatermica{
    position:absolute;
    z-index: 2;
    top:215vw;
    width:40vw;
    left: 55vw;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    
}
#decropatermica{
    position: absolute;
     z-index: 2;
     line-height:2em;
     top:250vw;
     color:rgb(12, 12, 12);
     width: 90vw;
     font-size:1.5rem;
     left:4vw;
     
} */
@media (min-width:320px) {
    .englobacapaexterna{
    
        background-color:white;
        width: 90vw;
        max-width: 100vw;
        min-width: 60px;
        height: 70vw;
        max-height: 100vw;
        min-height: 600px;
        position:relative;
        top:130vw;
        left: 5vw;
        border-radius: 150px;
        box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
    
        
    }
    #ttres{
        color: rgb(233, 229, 13);
        position: absolute;
        top:5vw;
        left: 26vw;
        z-index: 2;
        font-size:10vw; 
        
    }
#decexterana{
        position: absolute;
         line-height:2em;
         top:50vw;
         color:rgb(12, 12, 12);
         width: 80vw;
         font-size:1.2rem;
         left:4vw;
         padding:4vw;
         text-align: center;
         
         
    }
    #Pantalon{
        position:absolute;
        top:20vw;
        z-index: 2;
        width:30vw;
        left:30vw;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 150px;
        box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
    }
    #Playera{
            position:absolute;
            top:20vw;
            z-index: 2;
            width:30vw;
            left:30vw;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            border-radius: 150px;
            box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
    
        
    }
}
/*#ttres{
    color: rgb(233, 229, 13);
    position: absolute;
    top:260vw;
    left: 10vw;
    z-index: 2;
    font-size:10vw;
}
#Pantalon{
    position:absolute;
    z-index: 2;
    top:265vw;
    width:30vw;
    left:45vw;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    
    
}
#Playera{
    position:absolute;
    z-index: 2;
    top:265vw;
    width:30vw;
    left:65vw;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    
    
}
#decexterana{
    position: absolute;
     z-index: 2;
     line-height:2em;
     top:300vw;
     color:rgb(12, 12, 12);
     width: 90vw;
     font-size:1.5rem;
     left:4vw;
    
          
}*/
@media (min-width:320px) {
.englobacalzado{
    
    
        background-color:white;
        width: 90vw;
        max-width: 100vw;
        min-width: 60px;
        height: 80vw;
        max-height: 100vw;
        min-height: 1000px;
        position:relative;
        top:160vw;
        left: 5vw;
        border-radius: 150px;
        box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
    
        
    }
#Tcalzado{
    
        color: rgb(233, 229, 13);
        position: absolute;
        top:5vw;
        left: 26vw;
        z-index: 2;
        font-size:10vw; 
        
    }
    #deccalzado{
        
        position: absolute;
         line-height:2em;
         top:50vw;
         color:rgb(12, 12, 12);
         width: 80vw;
         font-size:1.2rem;
         left:4vw;
         padding:4vw;
         text-align: center;
         
         
    }
    
    #fotocalzeta{
        position:absolute;
        top:20vw;
        z-index: 2;
        width:30vw;
        left:30vw;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 150px;
        box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
    }
#fotocalzado{
    
            position:absolute;
            top:20vw;
            z-index: 2;
            width:30vw;
            left:30vw;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            border-radius: 150px;
            box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
    
        
    }
}
/*
.englobacalzado{
    position: absolute;
    top:150vw;
    width: 100vw;
}
#fotocalzado{
    position:absolute;
    z-index: 2;
    top:320vw;
    width:20vw;
    left:75vw;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    
    
}
#fotocalzeta{
    position:absolute;
    z-index: 1;
    top:320vw;
    width:16vw;
    left:55vw;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    
}
#Tcalzado{
    color: rgb(233, 229, 13);
    position: absolute;
    top:310vw;
    left: 10vw;
    z-index: 2;
    font-size:10vw;
}

#deccalzado{
    position: absolute;
    z-index:2;
    line-height:2em;
    top:340vw;
    color:rgb(12, 12, 12);
    width: 90vw;
    font-size: 1.5rem;
    left:4vw;
}*/
@media (min-width:320px) {
    .englobaaccesorios{
    
        background-color:white;
        width: 90vw;
        max-width: 100vw;
        min-width: 60px;
        height: 60vw;
        max-height: 100vw;
        min-height: 600px;
        position:relative;
        top:200vw;
        left: 5vw;
        border-radius: 150px;
        box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
    
        
    }
#Taccesorios{
    
        color: rgb(233, 229, 13);
        position: absolute;
        top:5vw;
        left: 26vw;
        z-index: 2;
        font-size:10vw; 
        
    }
    #descaccesorios{
        
        position: absolute;
         line-height:2em;
         top:50vw;
         color:rgb(12, 12, 12);
         width: 80vw;
         font-size:1.2rem;
         left:4vw;
         padding:4vw;
         text-align: center;
         
         
    }
    #fotolentes{
        position:absolute;
        top:20vw;
        z-index: 2;
        width:30vw;
        left:30vw;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 150px;
        box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
    }
    #fotobuff{
            position:absolute;
            top:20vw;
            z-index: 2;
            width:30vw;
            left:30vw;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            border-radius: 150px;
            box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
    
        
    }
    #fotogorra{
        position:absolute;
        top:20vw;
        z-index: 2;
        width:30vw;
        left:30vw;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 150px;
        box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);

    
}
}
/*
.englobaaccesorios{
    position: absolute;
    top:180vw;
    width: 100vw;
}
#fotogorra{
    position:absolute;
    z-index: 1;
    top:365vw;
    width:16vw;
    left:55vw;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    
}
#fotobuff{
    position:absolute;
    z-index: 1;
    top:385vw;
    width:16vw;
    left:80vw;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    
}
#fotolentes{
    position:absolute;
    z-index: 1;
    top:377vw;
    width:16vw;
    left:70vw;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    
  
}
#Taccesorios{
    color: rgb(233, 229, 13);
    position: absolute;
    top:370vw;
    left: 10vw;
    z-index: 2;
    font-size:10vw;
}
#descaccesorios{
    position: absolute;
    z-index:2;
    line-height:2em;
    top:340vw;
    color:rgb(12, 12, 12);
    width: 90vw;
    font-size: 1.5rem;
    left:4vw;
    
}