::-webkit-scrollbar{
    scrollbar-width:none;
}

body{
    margin:0vw;
    padding:0vw;
    width:100vw;
    overflow-x: hidden;
    background:rgb(254, 252, 252);
    font-family: 'Roboto';

    
}
header{
    background-color: black;
    color:white;
    padding: 10px 20px;
    position: relative;
    z-index:3;
    
    
}
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    
}
h5{
    font-size: 40px;
    font-weight: bold;
    

}
.nav-links{
    list-style: none;
    display: flex;
    gap: 15px;
}
.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.nav-links a:hover {
    color: yellow;

}
.hamburguer{
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.3s;
}
@media (max-width:768px) {
    nav {
        justify-content: space-between;
    }
    .nav-links {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: black;
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .nav-links li {
        margin:15px 0;        
    }
    .hamburguer {
        display:flex;
    }
    .nav-links.show {
        display: flex;
        background-color: black;
    }
}

.uno{
    top:0vw;
    font-size: 1px;
}
h1{
    color: rgb(242, 242, 244);
    position: absolute;
    top:26vw;
    left: 15vw;
    z-index: 2;
    font-size:clamp(1.8rem, 10vw, 7rem);
    transition: .5s ease;
}
h1:hover{
    transform: scale(1.2);
}
h2{
    color: white;
    position:absolute;
    top:20vw;
    z-index:2;
    font-size:10vw;
    left: 5vw; 
}
.montaña{
    top:15vw;
    width:100vw; 
    position:absolute;
    left:0vw;
    right:0vw;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    
}
.montañafria{
    width:100vw; 
    position:absolute;
    left:0vw;
    right: 0vw;
}



#Logo{
    position:absolute;
    z-index: 4;
    top:.0vw;
    width:9vw;
    left: 47vw;
}
.tabla_3{
    width:100vw;
    font-size:3vw;
    height:10vw;
    background-color:white;
    position:fixed;
    z-index:3;
    top:0vw;
    left: 0vw;
}
a:link,a:visited,a:hover{
    color: rgb(250, 249, 249);
  } 
  a:active{
    color:rgb(234, 207, 4);
  }

.espacio{
    width: 100vw;
    font-family: "Roboto";
    display: flex;
    height:15vw;
    background-color:rgb(0, 0, 0);
    position: absolute;
    top:156vw;
    left: 0vw;
}

.englobamontaña{
    position:absolute;
    top:171vw;
    left:0vw;
    
}
.englobalicras{
     position:absolute;
     top:90vw;
     width: 100vw;
 }
.englobaropatermica{
    position: absolute;
    top:110vw;
    width: 100vw;
}
.englobacapaexterna{
    position: absolute;
    top:130vw;
    width: 100vw;
}

h3{
    color: rgb(233, 229, 13);
    position: absolute;
    top:160vw;
    left: 10vw;
    z-index: 2;
    font-size:10vw; 
}
#declicras{
    position: absolute;
     z-index: 2;
     line-height:2em;
     top:200vw;
     color:rgb(12, 12, 12);
     width: 90vw;
     font-size:1.5rem;
     left:4vw;
     
}
#Licras{
    position:absolute;
    z-index: 2;
    top:165vw;
    width:30vw;
    left:55vw;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    
}
h4{
    color: rgb(233, 229, 13);
    position: absolute;
    top: 210vw;
    left: 10vw;
    z-index: 2;
    font-size:clamp(1.8rem, 10vw, 5rem);
}
#Ropatermica{
    position:absolute;
    z-index: 2;
    top:215vw;
    width:40vw;
    left: 55vw;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    
}
#decropatermica{
    position: absolute;
     z-index: 2;
     line-height:2em;
     top:250vw;
     color:rgb(12, 12, 12);
     width: 90vw;
     font-size:1.5rem;
     left:4vw;
     
}
#ttres{
    color: rgb(233, 229, 13);
    position: absolute;
    top:260vw;
    left: 10vw;
    z-index: 2;
    font-size:10vw;
}
#Pantalon{
    position:absolute;
    z-index: 2;
    top:265vw;
    width:30vw;
    left:45vw;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    
    
}
#Playera{
    position:absolute;
    z-index: 2;
    top:265vw;
    width:30vw;
    left:65vw;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    
    
}
#decexterana{
    position: absolute;
     z-index: 2;
     line-height:2em;
     top:300vw;
     color:rgb(12, 12, 12);
     width: 90vw;
     font-size:1.5rem;
     left:4vw;
    
          
}
.englobacalzado{
    position: absolute;
    top:150vw;
    width: 100vw;
}
#fotocalzado{
    position:absolute;
    z-index: 2;
    top:320vw;
    width:20vw;
    left:75vw;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    
    
}
#fotocalzeta{
    position:absolute;
    z-index: 1;
    top:320vw;
    width:16vw;
    left:55vw;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    
}
#Tcalzado{
    color: rgb(233, 229, 13);
    position: absolute;
    top:310vw;
    left: 10vw;
    z-index: 2;
    font-size:10vw;
}

#deccalzado{
    position: absolute;
    z-index:2;
    line-height:2em;
    top:340vw;
    color:rgb(12, 12, 12);
    width: 90vw;
    font-size: 1.5rem;
    left:4vw;
}
.englobaaccesorios{
    position: absolute;
    top:180vw;
    width: 100vw;
}
#fotogorra{
    position:absolute;
    z-index: 1;
    top:365vw;
    width:16vw;
    left:55vw;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    
}
#fotobuff{
    position:absolute;
    z-index: 1;
    top:385vw;
    width:16vw;
    left:80vw;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    
}
#fotolentes{
    position:absolute;
    z-index: 1;
    top:377vw;
    width:16vw;
    left:70vw;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    
  
}
#Taccesorios{
    color: rgb(233, 229, 13);
    position: absolute;
    top:370vw;
    left: 10vw;
    z-index: 2;
    font-size:10vw;
}
#descaccesorios{
    position: absolute;
    z-index:2;
    line-height:2em;
    top:400vw;
    color:rgb(12, 12, 12);
    width: 90vw;
    font-size: 1.5rem;
    left:4vw;
}